* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --pri: #DDE1E7;
    --sh1: #ffffff;
    --sh2: #CECED1;
    --sec: #404040;
    --ter: #3498DB;
    --qua: #E95949;
    --fiv: #303030;
}

html, body {
    height: 100%;
    background-color: var(--pri);
}

body {
    display: grid;
    place-items: center;
    text-align: center;
}

.clock {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pri);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: -3px -3px 7px var(--sh1), 3px 3px 5px var(--sh2);
}

.clock::before {
    position: absolute;
    content: '';
    height: 220px;
    width: 220px;
    border-radius: 50%;
    box-shadow: inset -3px -3px 7px var(--sh1), inset 3px 3px 5px var(--sh2);
}

.clock::after {
    position: absolute;
    content: '';
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: -1px -1px 7px var(--sh1), 1px 1px 5px var(--sh2);
}

.clock .nut1 {
    position: absolute;
    background-color: var(--sec);
    height: 11px;
    width: 11px;
    border-radius: 50%;
    z-index: 9;
}

.clock .nut2 {
    position: absolute;
    background-color: var(--ter);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    z-index: 11;
}

.indicator div {
    position: absolute;
    background-color: var(--sec);
    width: 2px;
  height: 5px;
}

.indicator div:nth-child(1) {
    transform: rotate(30deg) translateY(-100px);
}

.indicator div:nth-child(2) {
    transform: rotate(60deg) translateY(-100px);
}

.indicator div:nth-child(3) {
    background-color: var(--ter);
    transform: rotate(90deg) translateY(-100px);
}

.indicator div:nth-child(4) {
    transform: rotate(120deg) translateY(-100px);
}

.indicator div:nth-child(5) {
    transform: rotate(150deg) translateY(-100px);
}

.indicator div:nth-child(6) {
    background-color: var(--ter);
    transform: rotate(180deg) translateY(-100px);
}

.indicator div:nth-child(7) {
    transform: rotate(210deg) translateY(-100px);
}

.indicator div:nth-child(8) {
    transform: rotate(240deg) translateY(-100px);
}

.indicator div:nth-child(9) {
    background-color: var(--ter);
    transform: rotate(270deg) translateY(-100px);
}

.indicator div:nth-child(10) {
    transform: rotate(300deg) translateY(-100px);
}

.indicator div:nth-child(11) {
    transform: rotate(330deg) translateY(-100px);
}

.indicator div:nth-child(12) {
    background-color: var(--ter);
    transform: rotate(360deg) translateY(-100px);
}

.sec-hand, .min-hand, .hr-hand {
    position: absolute;
}

.sec-hand, .sec {
    /* border: 2px solid red; */
    height: 180px;
    width: 180px;
    z-index: 10;
}

.min-hand, .min {
    height: 140px;
    width: 140px;
    z-index: 5;
}

.hr-hand, .hr {
    height: 110px;
    width: 110px;
    z-index: 4;
}

.sec, .min, .hr {
    display: flex;
    justify-content: center;
    position: absolute;
}

.sec:before {
    /* border: 2px solid green; */
    position: absolute;
    content: '';
    height: 110px;
    width: 3px;
    background: #3498db;
}

.sec:after {
    /* border: 2px solid black; */
    position: absolute;
    content: '';
    height: 35px;
    width: 7px;
    background: #3498db;
    top: 105px;
    border-radius: 5px;
}

.min:before {
    position: absolute;
    content: '';
    width: 1px;
    top: -15px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 60px solid #e95949;
}

.min:after {
    position: absolute;
    content: '';
    width: 3px;
    top: 40px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 30px solid #e95949;
}

.hr:before {
    position: absolute;
    content: '';
    width: 1px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 35px solid #303030;
}

.hr:after {
    position: absolute;
    content: '';
    width: 3px;
    top: 34px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 25px solid #303030;
}